<div class="footer">
  <div class="footer-copyright">
    Pour toute demande, sybillecordeau@gmail.com
  </div>
  <br>
  <a href="mailto:sybillecordeau@gmail.com" target="_blank" class="btn btn-danger">Contactez-moi</a>
  <br>
  <div class="footer-links">
    <a href="https://www.behance.net/sybillecordeau" target="_blank"><i class="fa fa-behance"></i></a>
    <a href="https://dribbble.com/Sybillecrd" target="_blank"><i class="fa fa-dribbble"></i></a>
    <a href="https://www.linkedin.com/in/sybille-cordeau/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://sybillecrd.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a>
    <a href="https://github.com/Sybillecrd" target="_blank"><i class="fa fa-github"></i></a>
  </div>
  <br>
  <div class="footer-copyright-c">
    2018 <i class="fa fa-copyright"></i> Sybille Cordeau // Tous droits réservés
  </div>
</div>
