.card-contact {
  background-color: white;
  border-radius: 3px;
  padding: 10px 10px 30px;
  margin: 60px auto;
  max-width: 550px;
}

.card-portfolio {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 3px;
  width: 750px;
  height: 330px;
  text-align: center;
  margin: 4rem auto 3rem auto;
}

.portfolio-img {
  border-radius: 3px 0 0 3px;
  width: 290px;
  height: 330px;
}

.card-portfolio-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  h4 {
    color: $gray;
  }
  p {
    margin: 2rem;
  }
}

.row-reverse {
  flex-direction: row-reverse;
}

@media (min-width: 20px) and (max-width: 735px) {
  .card-portfolio {
    display: table;
    flex-direction: column;
    height: 255px;
    width: 340px;
    margin-top: 2rem;
  }
  .portfolio-img {
    width: 340px;
    height: 255px;
  }
  .card-portfolio-content {
  }
}
