.card {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  height: 500px;
  width: 300px;
  display: flex;
  justify-content: space-around;

}

.card-img {
  height: 100%;
  width: 100%;
}

.title {
  padding: 50px;
}
