.about-content {
  margin: 5em 3em 10em auto;
}

.circle {
  position: relative;
  width: 40rem;
  padding-top: 40rem;
  border-radius: 50%;
  margin: 10em auto auto;
    &:before {
    position: absolute;
    content: "";
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    background-color: $light-gray;
    border-radius: 50%;
    z-index: -1;
  }
  &:after {
    position: absolute;
    content: "";
    width: 106%;
    height: 106%;
    top: -3%;
    left: -3%;
    background-image: linear-gradient(to right bottom, $orange 0%, $pink 100%);
    border-radius: 50%;
    z-index: -2;
  }
  .avatar {
    position: absolute;
    width: 40rem;
    height: 40rem;
    top: 0;
    left: 0;
    border-radius: 50%;
  }
}

@media (min-width: 20px) and (max-width: 991px){
  .circle {
    width: 30rem;
    padding-top: 30rem;
    margin: 2em auto auto;
    .avatar {
      width: 30rem;
      height: 30rem;
    }
  }
  .about-content {
    margin: 3em auto 10em;
  }
}

@media (min-width: 992px) and (max-width: 1025px) {
  .circle {
    width: 30rem;
    padding-top: 30rem;
    .avatar {
      width: 30rem;
      height: 30rem;
    }
  }
  .about-content {
    margin: 5em 1em 14em auto;
  }
}
