.card-contact {
  padding: 10px 60px 50px;
  margin: 60px auto 15rem;
  p {
    margin-top: 5px;
  }
  .btn {
    margin-top: 20px;
  }
}

.form-control {
  &:focus{
    border-color: $grey-font;
    box-shadow: none;
  }
}

@media (min-width: 20px) and (max-width: 735px){
  .card-contact {
    margin: 3rem auto 8rem auto;
    padding: 10px 20px 5rem;
  }
}
