.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 5rem auto auto 5%;
  grid-column-gap: 2%;
}
.hero-img {
  width: 85%;
}

.hero-content {
  align-self: center;
}
 h1, h3 {
   color: $gray;
   position: relative;
 }
hr::before {
  width: 40px;
  position: absolute;
  border-bottom: 1px solid $pink;
  transform: translateX(-50%);
  content: '';
  top: 9rem;
  left: 50%;
}
.container-home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon-delivery {
  width: 100px;
}

.card-deliveries {
  width: 100%;
  margin: 10rem auto 6rem auto;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  position: relative;

}

.card-deliveries-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 350px));
  grid-column-gap: 1rem;
  grid-template-rows: repeat(2, minmax(100px, 240px));
  grid-row-gap: 1rem;
  margin: 4rem 1% 2% 1%;
}

.infos-delivery {
  display: block;
  text-align: center;
}

.descriptif {
  font-weight: lighter;
  padding-left: 1rem;
  padding-right: 1rem;
}
