<div class="container about-container">
  <div class="row">
    <div class="col-12 col-md-3 col-lg-4 visible-xs visible-sm">
      <div class="circle">
        <%= image_tag("Sybille.jpg", class: "avatar") %>
      </div>
    </div>

    <div class="col-12 col-md-8 col-lg-8">
      <div class="about-content">
        <h3>Qui suis-je ?</h3>
        <hr>
        <br><br>
        <p>Sybille Cordeau, Graphiste Webdesigner en freelance.
          <br><br>
          Après avoir étudié la mode à Paris, je suis retournée dans ma ville natale, Bordeaux,
          pour suivre une formation de développement web et me lancer en freelance en tant
          que Graphiste et Webdesigner.
          <br>
          J’ai ainsi réalisé de nombreux stages et missions dans des entreprises en pleine
          phase de développement afin de réaliser des tâches diversifiées et d’acquérir
          sans cesse de nouvelles compétences.
        <br>
        Mes champs d’action sont polyvalents : design et conception de sites web, identités visuelles,
        logotypes, newsletters, bannières, catalogues, affiches, illustrations, et bien d'autres encore.</p>


        <ul class="list-unstyled">
          <p>
            <li>Aperçu de mon parcours :</li>
            <li>- MANAA (Mise à Niveau en Arts Appliqués) à Lim'Art, Bordeaux (2013-2014)</li>
            <li>- Licence en Design de Mode à Créapole ESDI, Paris 1er (2014-2016)</li>
            <li>- MBA Management Mode, Luxe et Arts de Vivre à Mod'Art International, Paris 15e (2016-2017)</li>
            <li>- Formation Développement Web, Le Wagon Bordeaux (2018).</li>
            <li>- Été 2018 : Installation en tant que Graphiste Webdesigner freelance.</li>
          </p>
        </ul>
        <br><br>
        <address>
          <strong>Adresse</strong><br>
          80 avenue Charles de Gaulle<br>
          33520 Bruges<br>
          07 70 28 32 72
        </address>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-4 hidden-xs hidden-sm">
      <div class="circle">
        <%= image_tag("Sybille.jpg", class: "avatar") %>
      </div>
    </div>

  </div>
</div>
