 <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <div class="card-contact text-center">
          <h4>Contact</h4>
          <h2>Sybille Cordeau</h2>
          <h5>sybillecordeau@gmail.com</h5>
          <h5>07.70.28.32.72</h5>
          <br>
          <div class="icon">
            <a href="https://www.behance.net/sybillecorda3f" target= "_blank"><i class="fab fa-behance-square fa-2x"></i></a>
            <a href="http://sybillecrd.tumblr.com/" target= "_blank"><i class="fab fa-tumblr-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/sybille-cordeau-1a0324134/" target= "_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/Sybillecrd" target= "_blank"><i class="fab fa-github-square fa-2x"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
