 <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
        <div class="card card-contact text-center">
          <h2>Contact</h2>
          <hr>
          <p class="descriptif">N'hésitez pas à m'envoyer un message en remplissant le formulaire pour tout renseignement, collaboration, demande de devis.
            Je vous répondrai aussi vite que possible.</p>
          <br>
          <form method="POST" action="https://formspree.io/sybillecordeau@gmail.com">
            <div class="form-group">
              <input type="name" name="name" placeholder="Nom" class="form-control">
            </div>
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <textarea name="message" placeholder="Message" rows="4" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-danger">Envoyer</button>
          </form>

        </div>
      </div>
    </div>
  </div>
