<div class="background-404">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-md-offset-2 visible-xs visible-sm">
        <div class="error-img">
        <!--  <img class="ghost" src="source/assets/images/ghost.png"> -->
        <%= image_tag("ghost.png", class: "ghost") %>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="error-content">
          <h1 class="whops">Whooops 404 !</h1>
          <p class="whops">Excusez-nous, la page que vous semblez chercher n'existe pas...</p>
          <br>
          <a href="/" class="btn btn-danger">Retour</a>
        </div>
      </div>
      <div class="col-12 col-md-5 col-md-offset-2 hidden-xs hidden-sm">
        <div class="error-img">
        <!--  <img class="ghost" src="source/assets/images/ghost.png"> -->
        <%= image_tag("ghost.png", class: "ghost") %>
        </div>
      </div>
    </div>
  </div>

</div>
